<?xml version="1.0" encoding="UTF-8"?>
<configuration>       
    <appender name="AMQP" class="org.springframework.amqp.rabbit.logback.AmqpAppender">        
        <layout>            
            <pattern><![CDATA[ %d %p %t [%c] - <%m>%n ]]></pattern>        
        </layout>        
        <exchangeName>logging-exchange</exchangeName>        
        <host>192.168.70.228</host>        
        <port>8081</port>        
        <username>root</username>        
        <password>iceland</password>        
        <exchangeType>queue</exchangeType>        
        <applicationId>Spring-Boot-App</applicationId>        
        <routingKeyPattern>spring-app-logs-rk</routingKeyPattern>        
        <generateId>true</generateId>        
        <charset>UTF-8</charset>        
        <!--<durable>false</durable>-->        
        <!--<deliveryMode>NON_PERSISTENT</deliveryMode>-->    
    </appender>    

    <root level="info">        
        <appender-ref ref="AMQP" />    
    </root>
</configuration>